
/* Hide scrollbar for Chrome, Safari and Opera */
/* body::-webkit-scrollbar {
    display: none;
} */
/* Hide scrollbar for IE and Edge */
/* body {
    -ms-overflow-style: none;
} */


body {
    height: 100vh;
    overflow-x: hidden;
}

h2{
    text-align: center;
}

a {
    color: inherit;
}

a:hover, a:focus {
    text-decoration: none;
}

.main-first {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile > .profile-pic {
    background-image: url("../files/images/profile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    width: 230px;
    height: 300px;
}

.profile > content {
    text-align: center;
}

.header {
    
}

.main-first {
    background-image: url("../files/images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tag {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 30px;
    margin-left: 20px;
    position: relative;
    left: -10px;
}

.tag > button > .image1 {
    background-image: url("../files/images/profile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    width: 30px;
    height: 30px;
}


.social > .image2 {
    background-image: url("../files/images/profile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    display: none;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-img {
    width: 100%; 
    height: auto; 
    max-width: 100px;
}


@media screen and (min-width: 1000px){
    .edu-college-name{
        position: relative; 
        left: 10%;
    }
}

#achievements > ul > li{
    font-size: 1.35em;
}

.project-element > .project-pic{
    width: auto; height: 100%; display: inline;
}

.project-element > .project-content{
    display: inline; height: auto; width: auto;
}

.project-element > .project-content > .project-title{
    text-align: center; position: relative; left: -15%;
}

.project-element > .project-content > .project-links > .buttons{
    align-items: left; text-align: left;
}

